# OS
.DS_Store
Thumbs.db

# Python
*.pyc
*.pyo

# Common IDEs
*.swp
.idea/
.buildpath
.settings
atlassian-ide-plugin.xml
.project
.pydevproject
.installed.cfg
*.sublime-project
*.sublime-workspace
*.ropeproject

# Coverage
.coverage

# Virtualenv
env/
.env/
.env

# Project
/public/

# Settings
settings_local.py
local_settings.py
local.py

# SQLite
*.sqlite*
*.db

# Translations
*.mo

# Logs
*.log*

*.pid
